<div class="container" fxLayout="column" fxLayoutAlign="cente center">
  <h2 class="form--header">Signup Page</h2>
  <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()" fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field appearance="fill">
              <mat-label>Enter name</mat-label>
              <input matInput placeholder="Enter name" formControlName="name">
              <mat-icon matSuffix *ngIf="signupForm.get('name')?.valid" class="mat-icon-happy">thumb_up</mat-icon>
              <mat-icon matSuffix *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" class="mat-icon-sad">thumb_down</mat-icon>
              <mat-hint>Enter full name</mat-hint>
          </mat-form-field>
                 <!-- <button mat-raised-button class="otp-class btn" type="button" [disabled]="signupForm.get('namePhone')?.invalid" (click)="onNext()">Next</button> -->
          <!-- <h3 class="email-password-header">Signup with email and password</h3> -->
          <mat-form-field appearance="fill">
              <mat-label>Enter email id</mat-label>
              <input matInput placeholder="Email id" formControlName="email">
              <mat-icon matSuffix *ngIf="signupForm.get('email')?.valid" class="mat-icon-happy">thumb_up</mat-icon>
              <mat-icon matSuffix *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="mat-icon-sad">thumb_down</mat-icon>
              <mat-hint>Please enter correct email_id</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="password" id="mysecretpassword" type="password" showHideInput>
              <mat-icon matSuffix *ngIf="signupForm.get('password')?.valid" class="mat-icon-happy">thumb_up</mat-icon>
              <mat-icon matSuffix *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="mat-icon-sad">thumb_down</mat-icon>
              <!-- <i matSuffix class="material-icons" showHideTrigger="mysecretpassword"  [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }" ></i> -->
              <mat-hint>Minimum password length is eight(8) character</mat-hint>
          </mat-form-field>
      <button mat-raised-button class="btn btn-modified" type="submit" *ngIf="signupForm?.valid">Signup</button>
      <button mat-raised-button class="btn btn-modified" (click)="onCancel()" *ngIf="!spinner;else loader" [class.hide]="signupForm?.valid" type="button">Cancel</button>
      <ng-template #loader>
          <app-spinner></app-spinner>
      </ng-template>
  </form>
</div>
