<mat-toolbar color="primary">
  <img src="../assets/images/dashboard.jpg" alt="Logo" width="100%" height="120%">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10">
    <button mat-icon-button (click)="sidebarToggleEvent()" *ngIf="hidingShowingMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <a mat-button class="link" routerLink="login" [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}" (click)="hidingMenu()" *ngIf="isAuth === false">Login</a>
      <a mat-button class="link" routerLink="signup" [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}" (click)="hidingMenu()" *ngIf="isAuth === false">Signup</a>
      <a mat-button class="link" routerLink="dashboard" [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}" (click)="showingMenu()"
        *ngIf="isAuth === true">Dashboard</a>
      <button mat-button (click)="logout()" *ngIf="isAuth === true">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <app-project-details></app-project-details> -->
