<div class="container">
  <div class="container-rating" fxLayout="column" fxLayoutAlign="space-around center">
    <h4 class="heading--4">Overall Project Rating</h4>
    <div fxLayout fxLayoutAlign="center center">
      <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">grade</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">grade</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">grade</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">grade</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">grade</mat-icon>
    </div>
  </div>
  <div class="container-projectName" fxLayoutAlign="center center">
    <h2 class="heading--2">Cohorts for HIV Resistance and Progression in Indian Children and Adults (CoHRPICA)
      BT/PR21326/MED/29/1158/2016</h2>
  </div>
  <div class="container-background" fxLayoutAlign="space-between center">
    <p class="container-background--text">Cohorts for HIV Resistance and Progression in Indian Children and Adults
      (CoHRPICA) BT/PR21326/MED/29/1158/2016</p>
    <button mat-raised-button class="btn"
      (click)="editBackground('Cohorts for HIV Resistance and Progression in Indian Children and Adults (CoHRPICA) BT/PR21326/MED/29/1158/2016', 'Project Background')">Edit</button>
  </div>
  <div class="container-objectives" fxLayout="column">
    <h4 class="heading--3" fxFlexAlign="center">Objectives</h4>
    <mat-list>
      <mat-list-item *ngFor="let message of objectives; let i=index">
        <!-- fiber_manual_record -->
        <p matLine class="para">
          <span class="objectives-count">{{i+1}}.</span><span class="objectives"> {{message}}</span>
        </p>
        <button mat-raised-button class="btn" (click)="editBackground(message,'Project Objectives')">Edit</button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="container-outcomes--list" fxLayout="column">
    <h4 class="heading--3" fxFlexAlign="center">Project Outcomes</h4>
    <mat-list>
      <mat-list-item *ngFor="let message of objectives; let i=index">
        <p class="para" matLine>
          <span class="objectives-count">{{i+1}}.</span><span class="objectives"> {{message}}</span>
        </p>
        <button mat-raised-button class="btn" (click)="editBackground(message,'Project Objectives')">Edit</button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="container-physical-progress" fxLayout="column">
    <h4 class="heading--3" fxFlexAlign="center">Physical Progress</h4>
    <mat-list>
      <mat-list-item *ngFor="let message of objectives; let i=index">
        <!-- fiber_manual_record -->
        <p class="para" matLine>
          <span class="objectives-count">{{i+1}}.</span><span class="objectives"> {{message}}</span>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="container-project-overlapping" fxLayout="column">
    <h4 fxFlexAlign="center" class="heading--3">Has the project any overlaping/connectivity with other project</h4>
    <mat-form-field appearance="outline">
      <mat-label>Select yes or no</mat-label>
      <mat-select>
        <mat-option [value]="'yes'"> Yes</mat-option>
        <mat-option [value]="'no'"> No</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="container-financial-overrun" fxLayout="column">
    <h4 class="heading--4" fxFlexAlign="center">Financial overrun if any?</h4>
    <mat-form-field appearance="outline">
      <mat-label>Select yes or no</mat-label>
      <mat-select [(value)]="overrunValue">
        <mat-option value="Yes"> Yes</mat-option>
        <mat-option value="No"> No</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="container-schematics" fxLayout="column">
    <h4 class="heading--3" fxFlexAlign="center">Schemetic Representation of Project</h4>
    <input type="file" style="height: 40px;">
    <img src="../../../assets/images/pert.png" alt="chart" width="100%" height="100%" style="object-fit: contain;">
  </div>
  <div class="container-outcomes" fxLayout="column">
    <h3 class="heading--3" fxFlexAlign="center">Project Outcomes</h3>
    <mat-action-list *ngFor="let item of outcomes;let i = index">
      <button mat-list-item fxLayout fxLayoutAlign="space-between center">
        <span style="margin-right: 2rem;">{{item}}</span>
        <span matBadge="4" matBadgeOverlap="false"></span>
        <mat-icon (click)="deleteOutcome()" fxFlexAlign="end" style="margin-left: 15rem;"><span>delete</span> </mat-icon>
      </button>
    </mat-action-list>
    <button mat-raised-button (click)="openOutcomeInput=true"> Add new outcome+</button>
    <div *ngIf="openOutcomeInput">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Add new outcome</mat-label>
        <input matInput placeholder="Add new outcome" [formControl]="outcomeInput">
      </mat-form-field>
      <div fxLayoutAlign="space-between center">
        <button type="button" mat-raised-button class="btn" (click)="addingOutcome()">Add Outcome</button>
        <mat-icon aria-hidden="false" (click)="close()">close</mat-icon>
      </div>
    </div>
  </div>
  <div class="project-lists--sharing" fxLayout="column" *ngIf="overrunValue === 'Yes'">
    <app-financial-overrun-table></app-financial-overrun-table>
  </div>
