@import '~@angular/material/theming';

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500');
@include mat-core();


$custom1-theme-primary: mat-palette($mat-blue);
$custom1-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom1-theme-warn: mat-palette($mat-red);

$custom-theme1: mat-light-theme($custom1-theme-primary, $custom1-theme-accent, $custom1-theme-warn);
@include angular-material-theme($custom-theme1);

//DEFINING SECOND THEME
// $custom2-theme-primary: mat-palette($mat-blue);
// $custom2-theme-accent: mat-palette($mat-orange, A200, A100, A400);
// $custom22-theme-warn: mat-palette($mat-red);

// $custom2-theme: mat-dark-theme($custom2-theme-primary, $custom2-theme-accent, $custom2-theme-warn);

// .custom2-theme{
//   @include angular-material-theme($custom2-theme);
// }
.mat-icon-close {
  cursor: pointer;
  &:hover,
  &:active {
      color: black;
  }
}


// Dark bg
$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);
// Background config
// Light bg
$light-background: #ebf0f3;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);
// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);
// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);
